/* General Styles */
.login-container {
  width: 400px;
  margin: 50px auto;
  padding: 40px 30px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-logo {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-circle {
  width: 60px;
  height: 60px;
  background-color: #6c63ff;
  color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
}

.login-form-wrapper h2 {
  margin-bottom: 15px;
  color: #333;
}

.login-form-wrapper input {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 0.9rem;
}

.login-form-wrapper p {
  font-size: 0.9rem;
  color: #777;
  margin-top: 20px;
}

.options-container {
  display: flex;
  justify-content: space-between;
  /* Đẩy hai phần tử về hai bên */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  margin: 10px 0;
}

/* Checkbox và Label */
.remember-container {
  display: flex;
  align-items: center;
  /* Căn giữa checkbox và text */
  gap: 8px;
  /* Khoảng cách giữa checkbox và text */
  font-size: 0.9rem;
  color: #555;
}

input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #6c63ff;
  /* Tùy chỉnh màu checkbox */
  cursor: pointer;
}

/* Forgot Password Link */
.forgot-password {
  font-size: 0.9rem;
  color: #6c63ff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #5149d1;
  text-decoration: underline;
}

.login-button button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  background-color: #6c63ff;
  color: #fff;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.login-button button:hover {
  background-color: #5149d1;
  transform: translateY(-2px);
}

.divider {
  margin: 20px 0;
  font-size: 0.9rem;
  color: #aaa;
  position: relative;
}

.divider::before,
.divider::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 40%;
  height: 1px;
  background: #ddd;
}

.divider::before {
  left: 0;
}

.divider::after {
  right: 0;
}

/* Google Button */
.google-login-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: bold;
  color: #555;
  cursor: pointer;
  transition: all 0.3s ease;
}

.google-login-btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
}
.google-login-btn img {
  width: 18px;
  margin-right: 10px;
}