/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

/* Body Styling */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e6e9f0, #eef1f5);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}